<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>About Us</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                Expense Manager
            </div>
            <ul class="nav-links">
                <li><a href="/">
                        Home</a>
                </li>
                <li><a href="/about">
                        About</a>
                </li>

                <li><a href="/contact">
                        Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="about">
        <h1>About Us</h1>
        <p style="font-weight: bold">
            Expense Manager is a leading platform...
        </p>
        <div class="about-info">
            <div class="about-img">
                <img src="/images/expense.jpg" alt="Geeksforgeeks">
            </div>
            <div>
                <p> Welcome to Expense Manager, your reliable tool for tracking and managing your expenses effortlessly.
                    Whether you're an individual striving for financial discipline or a business aiming for better
                    expense control, Expense Manager is designed to simplify your financial management tasks.
                </p>
            </div>
        </div>
    </section>

    <section class="team">
        <h1>Meet Our Team</h1>
        <div class="team-cards">

            <!-- Cards here -->
            <!-- Card 1 -->

            <div class="card">
                <div class="card-img">
                    <img src="/images/darshan.jpg" alt="User 1">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Darshan</h2>
                    <p class="card-role">Team Leader</p>
                    <p class="card-email">darshanbhuptani@gmail.com</p>
                </div>
            </div>

            <!-- Card 2 -->

            <div class="card">
                <div class="card-img">
                    <img src="/images/dhruv.jpg" alt="User 2">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Dhruv</h2>
                    <p class="card-role">Backend Developer</p>
                    <p class="card-email">dhruvjani02@gmail.com</p>
                </div>
            </div>

            <!-- Card 3 -->

            <div class="card">
                <div class="card-img">
                    <img src="/images/hasti.jpg" alt="User 3">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Hasti</h2>
                    <p class="card-role">Frontend Developer</p>
                    <p class="card-email">hasti.delvadiya@gmail.com</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/images/meet.jpg" alt="User 3">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Meet</h2>
                    <p class="card-role">Research Analyst</p>
                    <p class="card-email">meet02katira@example.com</p>
                </div>
            </div>
        </div>
    </section>


</body>

</html>