<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>

<body>
    <div class="main">
        <a href="/">Go to Home</a>
        <div class="container">
            <div class="login-container">
                <h1>Sign Up</h1>
                <p class="error"><%= error %></p>
                <form action="/register" class="form-login" method="post">
                    <div class="textfield">
                        <label for="fullname"> Fullname</label>
                        <input type="text" name="fullname" placeholder="Fullname">
                    </div>
                    <div class="textfield">
                        <label for="email"> E-mail</label>
                        <input type="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="textfield">
                        <label for="username"> Username</label>
                        <input type="text" name="username" placeholder="username">
                    </div>
                    <div class="textfield">
                        <label for="password"> Password</label>
                        <input type="password" name="password" placeholder="password">
                    </div>
                    <a class="forgot-password" href="/login">Already have an account?</a>
                    <button class="btn-login">Sign Up </button>
                </form>
                <div>
        </div>
</body>

</html>